body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e9e9e9;
    font-family: "raleway";
    color: #333333;
}

::-webkit-scrollbar {
    width: 0rem; 
}

/* ---------------------------------------------- */
@font-face {
    font-family: "Raleway";
    src: url("font/Raleway-VariableFont_wght.ttf");
}
@font-face {
    font-family: "oswald";
    src: url("font/Oswald-VariableFont_wght.ttf");
}
/* ---------------------------------------------- */

/* titulo */
header {
    font-family: "oswald";
    color: #e9e9e9;
    background-color: #002C52;
    padding: 20px;
    display: flex;
}
header div {
    display: flex;
    flex-direction: column;
}
header h1 {
    text-align: left;
    margin: 0;
}
header p {
    font-size: 1.4rem;
    margin: 0;
}
header img {
    width: 5rem;
    height: 6rem;
    margin-left: 1rem;
}
/* titulo */

/* ---------------------------------------------- */

/* oq é */
#introduction {
    display: flex;
    margin: 1rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.inicio {
    text-align: right;
}
.inicio h2 {
    color: #333333;
    font-size: 1.3rem;
    margin-top: 0;
    margin-bottom: 1rem;
    text-transform: uppercase;
}
.inicio p {
    color: #333333;
}
/* oq é */

/* ---------------------------------------------- */

.linha-reta {
    border-bottom: 1px solid rgb(163, 163, 163);
}

/* ---------------------------------------------- */

/* final */
footer {
    background-color: #002c52;
    color: #e9e9e9;
    padding: 1rem;
    text-align: center;
    font-size: 0.8rem;
}
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
nav ul li {
    display: inline-block;
    margin-right: 10px;
}
nav ul li a {
    color: #fff;
    text-decoration: none;
}
/* final */

/* ---------------------------------------------- */

/* exemplo-bom */
#exemplo-bom {
    margin: 1rem;
    margin-top: 2rem;
}

#exemplo-bom h2 {
    font-size: 1.3rem;
    font-family: "oswald semibold";
    margin-bottom: 2rem;
}

.lista-avanco {
    background-color: deeppink;
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.application-item {
    /* flex: 0 0 calc(33.33% - 1rem);  */
    background-color: #6ec6ff;
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    height: 4rem;
    width: 9.53rem;
    border-style: dashed;
    border-radius: 1rem;
}

.application-item img {
    width: 3rem;
    height: 3rem;
}

/* .application-info {
    background-color: #6ec6ff;
    border-radius: 8px;
    padding: 10px;
    margin-top: 1rem;
} */

.application-description.show {
    display: flex;
}

.application-title {
    font-size: 1rem;
    font-weight: bold;
}

.application-description {
    display: none;
    font-size: 0.9rem;
}
/* exemplo-bom */

/* ---------------------------------------------- */

/* exemplo-ruim */
#exemplo-ruim {
    margin: 1rem;
    margin-top: 2rem;
}

#exemplo-ruim h2 {
    font-style: normal;
    font-size: 1.3rem;
    font-family: "oswald semibold";
    margin-bottom: 2rem;
}

.lista-retrocesso {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

/* exemplo-ruim */

/* ---------------------------------------------- */

/* parte de bianca */
#historia {
    background-color: #0072bb;
    border-radius: 0.2rem;
    display: flex;
}
#historia div {
    padding: 1rem;
    flex-direction: column;
}
#historia h2 {
    text-transform: uppercase;
    color: #e9e9e9;
    text-align: left;
}
#historia p {
    color: #e9e9e9;
    text-align: left;
}
#historia img {
    width: 3rem;
    height: 3rem;
    margin-top: 0.5rem;
    margin-right: 0.5rem;
}

.chart-container {
    width: 80%;
    max-width: 600px;
    margin: 0 auto;
}

#tip,
#fim {
    padding: 2rem;
}
