body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e9e9e9;
    font-family: "raleway";
    color: #333333;
}

::-webkit-scrollbar {
    width: 0rem;
}

/* ---------------------------------------------- */
@font-face {
    font-family: "Raleway";
    src: url("font/Raleway-VariableFont_wght.ttf");
}
@font-face {
    font-family: "oswald";
    src: url("font/Oswald-VariableFont_wght.ttf");
}
/* ---------------------------------------------- */

/* titulo */
header {
    font-family: "oswald";
    color: #e9e9e9;
    background-color: #0072bb;
    padding: 20px;
    display: flex;
}
header div {
    display: flex;
    flex-direction: column;
}
header h1 {
    text-align: left;
    margin: 0;
}
header p {
    font-size: 1.4rem;
    margin: 0;
}
header img {
    width: 5rem;
    height: 6rem;
    margin-left: 1rem;
}
/* titulo */

/* ---------------------------------------------- */

/* oq é */
#introduction {
    display: flex;
    margin: 1rem;
}
#introduction img {
    margin-top: 5rem;
    width: 6rem;
    height: 8rem;
}
.inicio {
    text-align: right;
}
.inicio h2 {
    color: #333333;
    font-size: 1.3rem;
    text-transform: uppercase;
}
.inicio p {
    color: #333333;
}

.parte2 {
    display: flex;
    flex-direction: column;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.25);
    background-color: #6ab7fa31;
    border-radius: 0.4rem;

}

#hs h2, #hs h3{
    margin: 1.3rem;
}
.parte2 h2 {
    margin-bottom: 0rem;
    text-transform: uppercase;
    color: #333333;
}
.parte2 p {
    color: #333333;
}

.lista-de-divisoes {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.divisoes {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
    background-color: #6ec6ff;
    align-items: center;
    text-align: center;
    padding: 0.6rem;
    cursor: pointer;
    border-radius: 1rem;
    margin: 1rem;
    width: 20rem;
}

.divisao-titu {
    font-size: 1rem;
    font-weight: bold;
}

.divisao-corpo {
    display: none;
}
.fotinha {
    display: none;
    width: 15rem;
    padding-left: 1rem;
    margin-top: -11rem;
    margin-left: 8rem;
}


/* oq é */

/* ---------------------------------------------- */

.linha-reta {
    margin: 3rem;
    border-bottom: 1px solid rgb(163, 163, 163);
}
.linha-reta1 {
    margin-left: 3rem;
    margin-right: 3rem;
    margin-bottom: 1rem;
    margin-top: 3rem;
    border-bottom: 1px solid rgb(163, 163, 163);
}
.linha-reta2 {
    margin-left: 3rem;
    margin-right: 3rem;
    margin-bottom: 1rem;
    margin-top: 1.5rem;
    border-bottom: 1px solid rgb(163, 163, 163);
}

/* ---------------------------------------------- */

/* final */
footer {
    background-color: #002c52;
    color: #e9e9e9;
    padding: 1rem;
    text-align: center;
    font-size: 0.8rem;
}
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
nav ul li {
    display: inline-block;
    margin-right: 10px;
}
nav ul li a {
    color: #fff;
    text-decoration: none;
}
/* final */

/* ---------------------------------------------- */

/* exemplo-bom */
#exemplo-bom {
    margin: 0;
}

#exemplo-bom h2 {
    margin: 0.4rem;
    font-family: "oswald semibold";
    text-align: center;
}

.lista-avanco {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.application-item {
    background-color: #6ec6ff;
    display: flex;
    align-items: center;
    padding: 0.6rem;
    cursor: pointer;
    height: 4rem;
    width: 10.3rem;
    border-radius: 1rem;
    margin: 1rem;
    border-style: groove;
}

.application-item img {
    margin-right: 0.4rem;
    width: 3rem;
    height: 3rem;
}

.application-title {
    font-size: 1rem;
    font-weight: bold;
}

.application-description {
    display: none;
}
/* exemplo-bom */

/* ---------------------------------------------- */

/* exemplo-ruim */
#exemplo-ruim {
    margin: 0;
}

#exemplo-ruim h2 {
    margin: 0.4rem;
    font-family: "oswald semibold";
    text-align: center;
}

.lista-retrocesso {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.ruim-application-item {
    background-color: #002c52;
    color: #e9e9e9;
    display: flex;
    align-items: center;
    padding: 0.6rem;
    cursor: pointer;
    height: 4rem;
    width: 10.3rem;
    border-radius: 1rem;
    margin: 1rem;
    border-style: groove;
}

.ruim-application-item img {
    margin-right: 0.4rem;
    width: 3rem;
    height: 3rem;
}

.ruim-application-description.show {
    display: block;
}

.ruim-application-title {
    font-size: 1rem;
}

.ruim-application-description {
    display: none;
    font-size: 0.9rem;
}

/* exemplo-ruim */

/* ---------------------------------------------- */

/* parte de bianca */
#historia {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin: 0.5rem;
    background-color: #2471a3;
    border-radius: 0.4rem;
    display: flex;
}
#historia div {
    margin-top: -1.2rem;
    padding: 1rem;
    flex-direction: column;
}
#historia h2 {
    text-transform: uppercase;
    color: #e9e9e9;
    text-align: left;
}
#historia p {
    color: #e9e9e9;
    text-align: left;
}
#historia img {
    width: 3rem;
    height: 3rem;
    margin-top: 0.5rem;
    margin-right: 0.5rem;
}

.chart-container {
    width: 80%;
    max-width: 600px;
    margin: 0 auto;
}

#tip,
#fim {
    padding: 2rem;
}
