body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

h1,
h2,
h3 {
    color: #333;
}

header {
    background-color: #f2f2f2;
    padding: 20px;
    text-align: center;
}

.chart-container {
    width: 80%;
    max-width: 600px;
    margin: 0 auto;
}

.infographic {
    background-color: #f2f2f2;
    padding: 20px;
    margin-top: 20px;
}

.infographic h3 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.infographic img {
    max-width: 100%;
    margin-bottom: 10px;
}

.infographic p {
    font-size: 16px;
    margin-bottom: 10px;
}

.infographic ul {
    list-style-type: disc;
    margin-left: 20px;
    font-size: 14px;
}

.infographic ul li {
    margin-bottom: 5px;
}

section {
    padding: 40px;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline-block;
    margin-right: 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

/* Estilos específicos para cada seção */
#introduction {
    background-color: #f9f9f9;
}

/* Estilos do infográfico */
#exemple {
    background-color: #f9f9f9;
}

#exemple h2 {
    font-size: 2rem;
    margin-bottom: 2rem;
}

#data {
    background-color: #f9f9f9;
}

#data h2 {
    font-size: 2rem;
    margin-bottom: 2rem;
}




/* Estilos responsivos */
@media (max-width: 768px) {
    .application-list li {
        width: 100%;
    }
}

.application-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.application-list li {
    margin-bottom: 2rem;
}

.application-item {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    cursor: pointer;
}

.application-item img {
    width: 3rem;
    height: 3rem;
    margin-right: 1rem;
}

.application-info {
    flex: 1;
}

.application-title {
    font-size: 1rem;
    margin: 0;
    font-weight: bold;
}

.application-description {
    font-size: 0.9rem;
    margin: 0;
    color: #888;
    display: none;
}

.application-description.show {
    display: block;
}

